@font-face{
    font-family: opensans;
    font-weight: normal;
    font-style: normal;
    src: url("fonts/XI20.ttf");
}
body{
    background-color: rgb(0, 0, 0);
    color: bisque;
    font-family: opensans;
    font-size: 150%;
    
}
p{
    font-family: X120;
    font-size: 110%;
    font-family: opensans;
}
.aBox{
background-color: bisque;
color: black;
text-align: center;
font-family: opensans;
}
#image{
text-align: center;
}
label{
    font-size: 110%;
    font-family: opensans;
}
ul{
    font-size: 110%;
    font-family: opensans;
}
.bBox{
    font-size: 110%;
    font-family: opensans;
    text-align: center;
}
a{
    color: bisque;
    font-size: 130%;
    font-family: opensans;
}
.cBox{
    text-align: center;
}